@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&display=swap');

.poetry {
  font-family: 'Poppins', cursive;
  height: 100vh;
  margin: 0;
}

.startPoem {
    font-family: 'Poppins', cursive;
    margin: 0;
  }


body{
    height: 100vh;
    margin: 0;
    font-family: 'Poppins', arial;
    background-color: #fff0c6;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

img{
    width: 100%;
}

.nav-container{
    background: #292e43;
    // position: fixed;
    // z-index: 2;
    a{
        color: #ef8b20;
    }
}

header{

    display: flex;
    justify-content: space-between;
    padding: 2em;

    .logo{
        color: #ef8b20;
        font-weight: bold;
    }

    nav{
        float: right;

        ul{
            display: flex;

            a{
                display: block;
                padding: 0 1em;
            }
        }
    }

}

// .header-desc{
//     position: fixed;
//     z-index: 2;
// }


.social-header, .hero-design{

    display: none;

}

.hero{
    // background: #6E00FF;
    background: #292e43;
    color: #ef8b20;
    display: grid;
    text-align: center;
    padding: 4em;
}

section{
    padding: 4em 2em;
    text-align: center;
}

.featured{
    position: relative;
    // background-color: #fff0c6;
}

// .featured::before{
//     content: "";
//     position: absolute;
//     width: 200px;
//     height: 200px;
//     border-radius: 50%;
//     background: lightpink;
//     top: 0;
//     left: 0;
//     z-index: -1;
// }

.subtitle{
    text-transform: uppercase;
    font-weight: bold;
    color: purple;
    letter-spacing: .2em;
    font-size: .85em;
}

.featured-title{
    color: black;
    font-weight: bold;
    font-size: 1.3em;
    margin-top: -.4em;
    display: block;
}

.featured-desc{
    color: 3b3b3b;
    margin-bottom: 3em;
    font-size: 85em;
    font-size: .9em;
    line-height: 1.8em;
    font-weight: 500;
}

.skills{
    background: #cb591b;
}

.skills-container ul li{
    background: #fff0c6;
    padding: 2em;
    border-radius: 1em;
    margin-bottom: 1em;

    .icon-container{
        height: 60px;
        display: grid;
        place-content: center;
        margin: auto auto;

        &.one{
            width: 80px;
        }

        &.two{
            width: 80px;
        }

        &.three{
            width: 80px;
        }
    }

}

.skill-title{
    font-weight: bold;
}

.featured-desc{
    margin-bottom: 2em;
}

// .featured-desc1{
//     display: none;
// }

// .portfolio{
//     // background: #fff0c6;
// }

.portfolio-container a img{
    border-radius: 1em;
    margin-bottom: 4em;
}

#test{
        max-width: 300px;
        max-height: 400px;
    }


@media only screen and (min-width: 800px){

    .featured, .portfolio{
        text-align: justify;
    }

    .header-desc{
        font-size: 20px;
    }

    .featured, .portfolio-container{
        display: grid;
        grid-template-columns: 40% auto;
    }

    .left{
        display: grid;
        place-content: center;
    }

    .portfolio-left{
        display: grid;
        place-content: center;
        margin-left: 100px;
    }

    .portfolio-right{
        display: grid;
        place-content: center;
        margin-left: 100px;
    }

    .right{
        margin-left: 2em;
        margin-top: 1em;
    }

    .skills{
        margin-top: -5em;
        margin-bottom: -7em;
        padding-top: 7em;
    }

    .skills-container ul{
        display: grid;
        grid-template-columns: repeat(3, auto);
        // bagus nih buat di catet
        grid-gap: 1em;
    }

    .portfolio{
        padding-top: 7em;
    }

    .portfolio-container img{
        margin-left: 2em;
    }

}

@media only screen and (min-width: 1050px){

    .hero{
        height: 50vh;
    }

    .nav-container{
        display: grid;
        grid-template-columns: 66% auto;
        background: unset;
        
        header{
            background: #292e43;
        }
    }

    header{
        padding: 2em 2em 2em 4em;
    }

    .social-header{
        padding: 2em 4em 2em 0;
    }

    section{
        padding: 4em;
    }

    .social-header{
        display: block;

        ul{
            display: flex;
            justify-content: space-between;
            width: 15em;
            float: right;

            img{
                width: 50px;
            }
        }
    }

    // .social-header, .hero-design{

    //     display: none;
    
    // }

    .hero{
        display: grid;
        grid-template-columns: 66% auto;
        background: unset;
        padding: 0;

        .content{
            // background: #6e00ff;
            background: #292e43;
            padding: 6em 8em 6em 4em;
            text-align: left;

            h1{
                font-size: 3em;
                line-height: 1.2em;
            }
        }
    }

    .hero-design{
        display: unset;
        margin-left: -50%;
        margin-top: 15%;
        width: 100%;
    }

    .portfolio img{
        float: right;
        max-width: 600px;
        max-height: 200px;

    }

}

// @media only screen and (min-width: 1250px){
//     header{
//         padding: 2em 2em 2em 10em;
//     }

//     .social-header{
//         padding: 2em 2em 10em 2em;
//     }

//     section{
//         padding: 10em 10em 4em 10em;
//     }

//     .hero .content{
//         padding: 6em 8em 6em 10em;
//     }
// }

